html,
body {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;

    
    
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
p{
    text-align: justify;
}


/*menu */
header {
    
    position: fixed;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: 100000;
    top: 0;
}
#logo{
    width: 90%;
}
.menu_desktop{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    top: 0;
    background-color:white;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    float: left;
    display: inline-flex;
   

}
.menu_desktop .opcao{
	text-align: center;
    color: black;
    
    margin-top: 10px;
    width:100%;
    padding: 0;
}
.opcao:hover{
    color: #1DA974;
    text-decoration: none;
}

/*menu mobile */
.menu_mobile{
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
}




#hamburger-icon {
    width: 100px;
    height: 15px;
    position: relative;
    display: block;
    float: right;
    margin-top: 6%;
    z-index: 3;
    
}
#hamburger-icon .line {
    display: block;
    background: black;
    width: 30px;
    height: 2px;
    position: absolute;
    right: 20px;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    
    
}
#hamburger-icon .line.line-1 {
  top: 0%;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}
#hamburger-icon .line.line-3 {
  top: 100%;
}

#hamburger-icon.active .line-1 {
  transform: translateY(7.5px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(7.5px) translateX(0) rotate(45deg);
  -moz-transform: translateY(7.5px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-7.5px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-7.5px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-7.5px) translateX(0) rotate(-45deg);
}

.menuOpcoes {
    text-align: center;
    position: fixed;
    cursor: pointer;
    background-color: white;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: -100%;
    transition: all 0.5s;
    padding-top: 20%;
    
}
.menuOpcoes.active{
    transform: translateX(100%) translateY(0);
}
.menuOpcoes .Opcao{
    padding: 0;
    margin: 0;
    display: block;
    font-size: 18px;
    color: black;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 3% 0;
}
.Opcao:hover{
    color: #1DA974;
    text-decoration: none;
    
}
#logo_mobile{
    width:50px;
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
    z-index: 4;
    position: relative;
}

/*front*/
#front{
    margin-top: 10%;
    width: 100%;
    margin-bottom: 15%;
}
#Layer_1{
    width: 40%;
    top:0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}


/*About*/
#about{
    margin: 0 15%;
    margin-top: 7%;
}

#about h1, #about h2{
    color: #1DA974;
}

#data{
    margin-top: 6%;
}
#text_about{
    margin-top: 2%;
}
.cima2{
    
    background-color: white;
    border: 3px black solid;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-weight: 700;
    
}
.botao{
    width: 20%;
    height: 80px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}
.baixo{
    border: 3px black solid;
    width: 100%;
    height: 62px;
    position: relative;
    display: block;
    background: #1DA974;
    top: -62px;
    left: 0px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.botao:hover .baixo{
    transform: translateY(20px) translateX(20px);
    -webkit-transform: translateY(20px) translateX(20px);
    -moz-transform: translateY(20px) translateX(20px);
} 

/*partners*/
#partners{
    margin:0 15%;
    margin-top: 10%;
}
#partners h1, #partners h2{
    text-align: right;
    color: #196CB4;
}
.slider{
    margin-top: 9%;
}
.cima{
    
    background-color: white;
    border: 3px black solid;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-weight: 700;
    
}
.baixo2{
    border: 3px black solid;
    width: 100%;
    height: 62px;
    position: relative;
    display: block;
    background: #196CB4;
    top: -62px;
    left: 0px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.botao:hover .baixo2{
    transform: translateY(20px) translateX(20px);
    -webkit-transform: translateY(20px) translateX(20px);
    -moz-transform: translateY(20px) translateX(20px);
}

/*coimbra */
#coimbra{
    margin: 0 15%;
    margin-top: 10%;
}
#coimbra h1, #coimbra h2{
    color: #E5281D;
}

#img_coimbra{
    width: 75%;
    margin-top: 8%;
    float: right;
    border: 3px black solid;
}
#text_coimbra{
    padding-left:0 !important;
    margin-top: 8%;
}

/*team */
#team{
    margin: 0 15%;
    margin-top: 10%; 
}
#team h1, #team h2{
    color: #1DA974;
    text-align: right;
}
.img_team{
    width:100%;
    border: 3px black solid;
    margin-top: 8%;
}
#link_team{
    cursor: pointer;
}
#link_team:hover .img_team{
    -webkit-filter: opacity(60%); /* Safari 6.0 - 9.0 */
  filter: opacity(60%);
}

/*contactos*/
#contact{
    margin: 0 15%;
    margin-top: 10%;
}
#contact h1, #contact h2{
    color: #196CB4;
}
#text_contact{
    margin-top: 8%;
}
form{
    margin-top: 9%;
    display: block;
    width: 70%;
    margin-left: auto;
    left: 28%;
}
input, #message, #subject{
    display: block;
    margin-top: 6%;
    padding: 0 2%;
    border: 3px black solid;
}
#name{
    width: 100%;
    display: block;

    z-index: 3;
    outline-color: #196CB4;
    position: relative;
    

    
}
#mail{
    width: 100%;
    z-index: 3;
    display: block;
    position: relative;
    outline-color: #196CB4;

}
#subject{
    width: 100%;
    z-index: 3;
    display: block;
    position: relative;
    outline: none;

}
#message{
    width: 100%;
    display: block;
    z-index: 3;
    height: 100px;
    position: relative;

    outline-color: #196CB4;
}
#submit{
    margin: 0;
    width: 40%;
    right: 0;
    margin-left: auto;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 3;
    border: 3px black solid;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
}
.botao3{
    margin-top: 7%;
    margin-left: auto;
    position: relative;
    display: block;
    right: 0;
}
#baixo_submit{
    top:-40px;
    right: 0px;
    width: 40%;
    display: block;
    position: relative;
    margin-left: auto;
    background: #196CB4;
    height: 40px;
    z-index: 2;
    border: 3px black solid;
        transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.botao3:hover #baixo_submit{
    transform: translateY(10px) translateX(10px);
    -webkit-transform: translateY(10px) translateX(10px);
    -moz-transform: translateY(10px) translateX(10px);

}
.erro{
    color: #E5281D;
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: 0;
}
.success{
    color: #1DA974;
    font-size: 12px;
    margin-bottom: 2%;
    
}
.error{
    color: #E5281D;
    font-size: 12px;
    margin-bottom: 2%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

/*footer*/
footer{
    margin-top: 10%;
}
footer p{
    text-align: center;
    font-size: 16px;
}
.copyright{
    text-align: center;
}
.redes_sociais{
    margin-bottom: 1%;
    text-align: center;

}
.redes_sociais img{
    width: 5%;
    
}
.best{
    text-align: center;
}
.best img{
    width: 7%;
    
}
footer a{
    color: #E5281D;
}
footer a:hover{
    color: black;
    text-decoration: none;
}
@media all and (max-width: 1280px){
    h1{
        font-size:48px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size:18px;
    }
    body{
        font-size:18px;
    }
    .opcao{
        font-size:18px;
    }
    .cima, .cima2{
        font-size: 18px;
        
    }
    .baixo{
        height: 53px;
        top:-53px;
    }
    .botao:hover .baixo{
    transform: translateY(10px) translateX(10px);
    -webkit-transform: translateY(10px) translateX(10px);
    -moz-transform: translateY(10px) translateX(10px);
    }
    .baixo2{
        height: 53px;
        top:-53px;
    }
    .botao:hover .baixo2{
    transform: translateY(10px) translateX(10px);
    -webkit-transform: translateY(10px) translateX(10px);
    -moz-transform: translateY(10px) translateX(10px);
    }
    #about, #coimbra, #partners, #team, #contact, #schedule, #survival{
        margin-left: 10%;
        margin-right: 10%;
    }
    #img_coimbra{
        width: 100%;
    }
    footer p{
        font-size:14px;
    }
    form{
        width: 100%;
        left: 0;
    }
    #baixo_submit{
        height: 30px;
        top:-30px;
    }
    #front{
        margin-top: 20%;
    }
     

}
@media all and (max-width: 980px){
    form{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 5%;
    }
    .botao{
        width: 30%;
    }
    
    #img_coimbra{
        
        margin-top: 4%;
    }
    #about, #coimbra, #partners, #team, #contact, #schedule, #survival{
         margin: 0 15%;
         margin-top: 15%;
    }
    footer{
        margin-top: 15%;
    }
    .redes_sociais img{
        width: 8%;
    }
    #desktop_survival{
    display: none;
    }
    #mobile_survival{
    display: block;
    }
    
}
@media all and (max-width: 736px){
    .menu_desktop{
       display: none; 
    }
    .menu_mobile{
        display: inherit;
        background-color: white;
    }
    
    h1{
        font-size:36px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size:16px;
    }
    body{
        font-size:16px;
    }
    form{
        width:100%;
    }
    .botao{
        width: 40%;
    }
    #about, #coimbra, #partners, #team, #contact, #schedule, #survival{
         margin-top: 20%;
    }
    footer{
        margin-top: 20%;
    }
    footer p{
        font-size:12px;
    }
    #front{
        height: auto;
        margin-top: 20%;
    }
    
}
@media all and (max-width: 480px){
     #about, #coimbra, #partners, #team, #contact, #schedule, #survival{
         margin-right: 10%;
         margin-left: 10%;
         margin-bottom: 30%;
    }
    #front{
        height: auto;
        margin-top: 30%;
    }
    .botao{
        width: 50%;
        margin-top: 15%;
    }
    h2{
        margin-bottom: 5%;
    }
    h1{
        font-size:28px;
    }
    h2{
        font-size: 21px;
    }
}


/*página team*/
#team_ind{
    margin: 0 10%;
    margin-top: 15%;
}

#team_ind img{
    width: 100%;
    margin-bottom: 10%;
}
#team_ind h1, #team_ind h2{
    color: #1DA974;
}
#team_ind h2{
    margin-bottom: 5%;
}
.foto_final{
    margin-bottom: 40% !important;
}



/* 5 Columns */


.col-md-15,
.col-lg-15{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#team_ind h3{
    font-size: 18px;
}
#team_ind p{
    font-size: 18px;
}
.material-icons{
        margin-top: 5%;
        margin-left: 5%;
        font-size: 40px !important;
        color: black;
}
.material-icons:hover{
    color: #1DA974;
}

@media(min-width: 480px){
    #team_ind p{
        margin-bottom: 20%;
    }
    
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 50%;
        float: left;
    }
    #team_ind{
    margin: 0 15%;
    margin-top: 10%;
    }
    
    
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 33.3%;
        float: left;
    }
    #team_ind{
    margin: 0 15%;
    margin-top: 10%;
    }
    .material-icons{
    font-size: 40px !important;
    margin-top: 40%;
    margin-left: 40%;
    color: black;
}
    
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    #team_ind{
    margin: 0 15%;
    margin-top: 10%;
    }
}


#participate_ind{
    margin: 0 10%;
    margin-top: 10%;
    color: #E5281D;
}
#participate_ind p{
    color: black;
}
#participate_ind a{
    color: #E5281D;
}

.slick-slide, .slider
{
    height: 100px;
}
.text{
    margin-top: 5%;
}

#schedule{
    margin: 0 15%;
    margin-top: 7%;
}
#schedule h1, #schedule h2{
    color: #1DA974;
    text-align: right;

}

#schedule img{
    width: 100%;
    margin-top: 4%
}
#survival{
    margin: 0 15%;
    margin-top: 10%;

}
#survival h1, #survival h2{
    color: #196CB4;
    
}
object{
    margin-top: 4%;
}
#desktop_survival{
    display: block;
}
#mobile_survival{
    display: none;
}
#mobile_survival a{
    color: #196CB4;
}


